@import "src/styles/theme.scss";
$bg: #fff;
$page-padding: 24px;

.user-menu {
  background: transparent;
  color: $color-text-base;
  &-orders {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $page-padding;
    align-items: center;
    margin-top: 10px;
    background: $bg;
  }
  &-block {
    margin-top: 10px;
    width: 100%;
    .flex-column {
      text-align: center;
      padding: 8px 0 12px;
      .img-icon {
        width: 46px;
        height: 46px;
      }
    }
  }
  &-money-input {
    border: 2px solid $color-border-grey1;
    border-radius: 8px;
    padding: 10px 17px;
  }
  &-auth {
    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 102px;
      border: none;
      background: #fff;
      width: 100%;
      overflow: hidden;
      font-size: 32px;
    }
  }
}

.at-row {
  display: flex;
  background: $bg;
  width: 100%;
  .at-col {
    flex: 1;
    .at-row-txt {
      display: block;
      font-size: 24px;
    }
  }
}

.bonus {
  width: 100%;
  background: $bg;
  padding: 0 $page-padding;
  &-title {
    &-txt {
      font-size: 24px;
    }
  }
  &-money {
    position: relative;
    margin-top: 15px;
    padding: 6px 0 16px;
    color: $color-error;
    font-size: 34px;
    // border-bottom: 2px solid #E4EDF4;
    overflow: hidden;
    &::after {
      content: '';
      height: 2px;
      background: #e4edf4;
      position: absolute;
      left: -24px;
      right: -24px;
      bottom: 0;
    }
    &-txt {
      margin-left: 10px;
    }
    &-btn {
      float: right;
      background: $color-error;
    }
  }
  &-detail {
    text-align: center;
    color: $color-error;
    font-size: 24px;
    padding: 6px 0;
    &-btn {
      font-size: 24px;
    }
  }
}

.at-icon-chevron-right {
  font-size: 48px;
  color: #ccc;
}
