@import "src/styles/theme.scss";
$bg: #fff;

.user-menu {
  background: transparent;
  color: $text-color;
  &-orders {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
    align-items: center;
    margin-top: 10px;
    background: $bg;
    border-bottom: 1px solid #f9f9f9;
    &-txt {
      color: #333;
      font-size: 32px;
    }
  }
  &-block {
    margin-top: 10px;
    width: 100%;
    .flex-column {
      text-align: center;
      padding: 8px 0 12px;
      .img-icon {
        width: 46px;
        height: 46px;
      }
    }
  }
}

.at-row {
  display: flex;
  background: $bg;
  width: 100%;
  .at-col {
    flex: 1;
    .at-row-txt {
      display: block;
      font-size: 24px;
    }
  }
}

.bonus {
  width: 100%;
  background: $bg;
  padding: 0 24px;
  &-title {
    &-txt {
      font-size: 24px;
    }
  }
  &-money {
    margin-top: 15px;
    padding: 6px 0;
    color: $primary-color;
    font-size: 34px;
    border-bottom: 1px solid #f9f9f9;
    overflow: hidden;
    &-txt {
      margin-left: 10px;
    }
    &-btn {
      float: right;
      height: 56px;
      width: 118px;
      font-size: 24px;
      line-height: 54px;
      border-radius: 4px;
      background: $primary-color;
    }
  }
  &-detail {
    text-align: center;
    color: $primary-color;
    font-size: 24px;
    &-btn {
      font-size: 24px;
    }
  }
}

.at-icon-chevron-right {
  font-size: 48px;
  color: #ccc;
}

.user-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 180px;
  @include border(right bottom, 1px, solid, rgba(0, 0, 0, .15));

  &-img {
    width: 52px;
    height: 52px;
  }

  &-txt {
    margin-top: 16px;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  &--nth {
    border-right-width: 0;
  }

  &--last {
    border-bottom-width: 0;
  }
}
