@import "src/styles/theme.scss";

.home {
  position: relative;
}

.home__wrap {
  background: #fafafa;
}

.home__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-txt {
    color: $color-grey-1;
    font-size: 24px;
  }
}

.get-screen-info {
  position: fixed;
  width: 100%;
  left: -9999px;
  top: 0;
  bottom: 0;
}