@import "src/styles/theme.scss";

.item-info-param {
  margin-top: 20px;
  padding: 30px;
  background: $white;
}

.item-info-param__title {
  padding: 30px 0;
  overflow: hidden;

  .item-info-param_order {
    float: right;
    background: $primary-color;
  }

  &-txt {
    display: inline-block;
    color: $text-color;
    font-size: 28px;
    line-height: 28px;
    &.time {
      margin-left: 2px;
      color: $warn-color;
    }
  }
}

.warn {
  color: $warn-color;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr9 {
  margin-right: 9px;
}

.inline-block {
  display: inline-block;
}

.item-info-param__order {
  .item-info-param__order-title {
    .item-info-param__order-title-txt {

    }
  }
  .item-info-param__order-persons {
    .item-info-param__order-persons-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }
}

.item-info-param__item {
  display: flex;
  flex-direction: row;
  padding: 24px 0 28px;
  @include border(top, 1px, dashed, $text-color-lighter);
  @include eject(border-top-width, 1PX);

  &-name {
    width: 144px;
    color: $text-color-lighter;
    font-size: 24px;
    line-height: 30px;
  }

  &-value {
    flex: 1;
    margin-left: 6px;
    color: $text-color;
    font-size: 24px;
    line-height: 30px;
  }
}
