@import "src/styles/theme.scss";

.addr {
  position: relative;
  height: 100%;
  background: #fff;
  &__wrap {
    padding: 0 0 76px;
    overflow: auto;
    background: #fff;
    &_addperson {
      width: 46px !important;
      height: 46px !important;
    }
  }
  &-savebtn {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 540px;
    height: 74px;
    border-radius: 32px;
    border: none;
    line-height: 74px;
    text-align: center;
  }
}

.home__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-txt {
    color: $color-grey-1;
    font-size: 24px;
  }
}

.at-input {
  position:relative;
  padding: 24px 0;
  color: #333;
  background-color: #FFF;
  margin-left: 32px;
  margin-bottom: 1PX;
  position: relative;  
}  

.at-input__container {
  display: flex;
  align-items:center;
}  

.at-input__children-con {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  font-size: 24px;
  padding-right: $page-padding;
  text-align: left;
  overflow: hidden;
  &.start {
    justify-content: flex-start;
  }
  &.inline-block {
    display: inline-block;
  }
  &.block {
    display: flex;
  }
}

.at-input__title {
  flex: 172px 0 0;
  margin-right: 16px;
  font-size: 32px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: left;
}

.at-input__container {
  align-items: flex-start;
  &.block {
    display: block;
  }
}

.add-tag {
  min-width: 128px;
  float: left;
  border: 1px solid $color-after-line;
  height: 64px;
  line-height: 60px;
  border-radius: 32px;
  color: $color-text-base;
  background-color:#fff !important;

}
