@import "src/styles/theme.scss";

$height: 270px;
$avatarSize: 140px;

.user-profile {
  position: relative;
  height: $height;
  overflow: hidden;
}

.user-profile__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
}

.user-profile__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #101010;
}

.user-profile__avatar {
  margin-left: 30px;
  width: $avatarSize;
  height: $avatarSize;
  border-radius: $avatarSize / 2;
  overflow: hidden;

  &-img {
    width: $avatarSize;
    height: $avatarSize;
  }
}

.user-profile__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  &-name {
    color: rgb(250, 250, 250);
    font-size: 36px;
    line-height: 36px;
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
  }

  &-level {
    margin-right: 12px;
    width: 30px;
    height: 30px;
  }

  &-uid {
    color: $color-grey-1;
    font-size: 28px;
    line-height: 28px;
  }

  &-tip {
    margin-top: 28px;
    color: $yellow;
    font-size: 28px;
    line-height: 28px;
  }
}

.user-profile__extra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -60px;
  margin-left: 18px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);

  &-img {
    width: 50px;
    height: 50px;
  }
}
