@import 'src/styles/reset.scss';
@import 'src/styles/theme.scss';

.at-input-number {
  border-radius: 4px;
  height: 56px;
}

.at-tab-bar--fixed {
  height: 124px;
}

.page-con {
  position: absolute !important;
  top: 0;
  bottom: 124px;
  width: 100%;
  overflow: auto;
  &.no-tab-bar {
    bottom: 0;
  }
}

button {
  height: 60px;
  width: 120px;
  font-size: 24px;
  line-height: 56px;
  border-radius: 4px;
}

.at-tag {
  color: #fff;
  padding: 0 6px;
  height: 32px;
  line-height: 32px;
  border: none;
  font-size: 24px;
  min-width: 64px;
  &.default {
    min-width: 128px;
    border: 1px solid $color-after-line;
    height: 64px;
    line-height: 60px;
    border-radius: 32px;
    color: $color-text-base;
    background: #fff;
  }
  &.error {
    background: $color-error;
  }
  &.primary {
    background: $color-brand;
  }
  & + .at-tag {
    margin-left: 10px;
  }
}

.no-border {
  border: none;
  &::after {
    border: none;
    height: 0;
  }
}

// .title {
//   color: $color-black-0;
//   font-size: 28px;
//   line-height: 28px;
//   font-weight: bold;
// }

// .sub {
//   // color: $color-black-0;
//   font-size: 28px;
//   line-height: 28px;
// }

.mt-2 {margin-top: -4px;}
.mt-4 {margin-top: -8px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml100{margin-left: 100px;}

.mr3{margin-right: 3px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr14{margin-right: 14px;}
.mr15{margin-right: 15px;}
.mr16{margin-right: 16px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr60{margin-right: 60px;}

.pr24{padding-right: 24px;}

.lineH50{line-height: 50px;}

.font24 {font-size: 24px !important;}
.font32 {font-size: 32px !important;}
.font48 {font-size: 48px !important;}

.opacity1 {
  opacity: 1;
  .at-input__container {
    opacity: 1;
  }
}

.float-l {float: left;}
.float-r {float: right;}

.place-holder {color: #CCC !important;}