@import 'src/styles/theme.scss';

.comp-home-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 96px;
}

.comp-home-title__txt {
  color: $color-black-0;
  font-size: 32px;
  font-weight: bold;
}

.comp-home-title__content {
  flex: 1;
}

.comp-home-title__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-txt {
    font-size: 26px;
    line-height: 26px;
    color: $color-grey-1;
  }

  &-img {
    margin-left: 10px;
    width: 14px;
    height: 24px;
  }
}
