@import "src/styles/theme.scss";

.item-info-base {
  padding: 40px 30px;
  background: $color-white;
}

.item-info-base__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-name {
    color: $color-black-0;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  &-desc {
    margin-top: 14px;
    color: $color-grey-2;
    font-size: 28px;
    line-height: 32px;
  }

  &-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 22px;

    &-txt {
      color: $color-error;
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
    }

    &-link {
      margin-top: 12px;
      color: $color-grey-2;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.item-info-base__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;

  &-wrap {
    flex: 1;
  }

  &-symbol {
    padding-top: 8px;
    color: $color-error;
    font-size: 24px;
    line-height: 24px;
  }

  &-txt {
    color: $color-error;
    font-size: 38px;
    line-height: 38px;
  }

  &-origin {
    margin-left: 18px;
    padding-top: 10px;
    color: $color-grey-2;
    font-size: 24px;
    line-height: 24px;
  }
}

.item-info-base__share {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-grey-1;
  &-txt {
    font-size: 18px;
  }
}

.item-info-base__tag {
  display: flex;
  flex-direction: row;
  margin-top: 28px;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #f28e2d;
    @include hairline(border-width);
    border-radius: 6px;

    @include eject(border-width, 1PX);

    &-txt {
      color: #f28e2d;
      font-size: 24px;
    }

    &-img {
      margin-left: 8px;
      width: 13px;
      height: 24px;
    }
  }
}

.action-sheet {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: fixed;
  bottom: 0;
  margin-left: -30px;
  &-head {
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: relative;
    &-title {
      font-size: 28px;
      color: $color-grey-0;
    }
    &-close {
      position:absolute;
      right: 30px;
      top: 20px;
      width: 40px;
      height: 40px;
    }
  }
  &-body {
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-item {
      margin-top: -10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      color: $color-grey-0;
      &-img {
        width: 128px;
        height: 128px;
        margin-bottom: 10px;
      }
    }
  }
}
